.btn {
	border-radius: 0.7rem;
    color: var(--color-text--primary);
	font-size: 3rem;
}

.btn--number {
    background-color: var(--color-btn--number);
}

.btn--operator {
    background-color: var(--color-btn--operator);
}

.btn--modifier {
    background-color: var(--color-btn--modifier);
}

.btn[id="zero"] {
    grid-column: span 2;
}

@media only screen and (max-width: 600px) {
	.btn {
		font-size: 9vw;
	}
}