@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
	--font-primary: 'Orbitron', 'Roboto', sans-serif;

	--color-text--primary: #fff;
	--color-text--secondary: #667273;
	--color-text--tertiary: #7f8c8d;
	--color-bg--primary: #3498db;
	--color-bg--secondary: #2980b9;
	--color-bg--tertiary: #ecf0f1;
	--color-btn--number: #2980b9;
	--color-btn--operator: #f39c12;
	--color-btn--modifier: #95a5a6;
}

html, body {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: var(--font-primary);
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-bg--secondary);
}

*,
*::before,
*::after {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
}

button {
	  border: none;
	  cursor: pointer;
	  font-family: inherit;
	  font-weight: 700;
	  outline-color: var(--color-text--primary);
}

.layout-center {
	height: 100%;
	display: grid;
	place-items: center;
}

@import "../Components/Calculator/Calculator.css";
@import "../Components/Button/Button.css";
@import "../Components/Display/Display.css";
@import "../Components/History/History.css";
  