.display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: var(--color-bg--tertiary);
    height: 100%;
	border-radius: 0.7rem;
	display: grid;
	grid-template: 30% 70% / 100%;
	place-items: center end;
}

.display_equation, .display_value {
	margin: 0;
	padding: 0 1rem;
}

.display_equation {
	color: var(--color-text--tertiary);
	font-size: 1.7rem;
	font-weight: 700;
}

.display_value {
	color: var(--color-text--secondary);
	font-size: 5rem;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.display_equation, .display_value {
		padding: 0.3rem;
	}

	.display_equation {
		font-size: 5vw;
	}

	.display_value {
		font-size: 14vw;
	}
}