:root {
	--fs-equation: 28px;
	--fs-value: 80px;
}

.display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: var(--color-bg--tertiary);
    height: 100%;
	border-radius: 0.7rem;
	display: grid;
	grid-template: 30% 70% / 100%;
	place-items: center end;
	padding: 0 1rem;
	overflow: hidden;
}

.display_equation, .display_value {
	margin: 0;
	padding: 0;
	text-align: right;
	transition: font-size 0.1s ease-out;
}

.display_equation {
	color: var(--color-text--tertiary);
	font-size: var(--fs-equation);
	font-weight: 700;
}

.display_value {
	color: var(--color-text--secondary);
	font-size: var(--fs-value);
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.display {
		padding: 0 0.3rem;
	}
}