.layout-history {
	display: grid;
	grid-template-rows: 1fr 8%;
	position: relative;
}

.history {
	background-color: var(--color-bg--primary);
	height: 900px;
	width: 20rem;
	padding: 4rem 1rem 0 0;
	border-radius: 0 0.7rem 0.7rem 0;
}

.history[data-state="is-hidden"] {
	display: none;
}

.history_list {
	background-color: var(--color-bg--secondary);
	color: var(--color-text--primary);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	border-radius: 0.4rem;
	padding: 1.4rem 0;
	overflow-y: auto;
	overscroll-behavior-y: contain;
  	scroll-snap-type: y proximity;
}

.history_list.empty {
	display: grid;
	place-items: center;
}

.list-entry {
	flex: 0 1 10%;
	padding: 1rem 2rem;
	list-style-type: none;
	font-size: 1.2rem;
}

.list-entry:last-child {
	backdrop-filter: brightness(110%);
	scroll-snap-align: end;
	scroll-margin-bottom: 1.4rem;
}

.history_footer {
	display: grid;
	place-items: center end;
}

@media only screen and (max-width: 1024px) {
	.history {
		border-radius: 0;
		height: 100%;
		max-height: 100vh;
		width: 100%;
		padding: 4rem 0.7rem 0.7rem 0.7rem;
	}

	.list-entry {
		font-size: 3vw;
	}
}

@media only screen and (max-width: 600px) {
	.list-entry {
		font-size: 5vw;
	}
}
